:root{
    --very-dark-gray: hsl(0, 0%, 17%);
    --dark-gray: hsl(0, 0%, 59%);
}

body{
    font-family: 'Rubik', sans-serif;
    background-image: url(images/pattern-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.card{
    background: white;
}
.card-title{
    text-transform: uppercase;
    color: var(--dark-gray);
    font-weight: 700;
    font-size: 12px;
}